
/assets
/images
/protected/runtime
*.png
*.jpg
*.gif
/protected/extensions/editMe
/themes
/protected/yiic.php
/protected/yiic.bat
/protected/yiic

/protected/config/_secret.php
/protected/config/secret.php